<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-item nav-link" routerLink="/photo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Photo List </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-item nav-link" routerLink="/add-photo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}"><img class="photo-lar" src="../../assets/add.png"></a>
    </li>
  </ul>
</nav>
